@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
    color: #353939;

}

html {
    background-color: #F5F5F5;
}

@font-face {
    font-family: 'Aktiv Grotesk Regular';
    src: url('./fonts/aktiv_grotesk_regular.ttf');
}

@font-face {
    font-family: 'Aktiv Grotesk Semibold';
    src: url('./fonts/aktiv_grotesk_semibold.ttf');
}

@font-face {
    font-family: 'Aktiv Grotesk Italic';
    src: url('./fonts/aktiv_grotesk_italic.ttf');
}

.font-regular {
    font-family: "Aktiv Grotesk Regular";
}

.font-semibold {
    font-family: "Aktiv Grotesk Semibold";
}

.font-italic {
    font-family: "Aktiv Grotesk Italic";
}

.text-small {
    font-size: calc(5.32px + 0.008*100vh);
}

.text-normal {
    font-size: calc(8.118px + 0.00947*100vh);
}

.text-big {
    font-size: 24.5px;
}

.inherit {
    width: inherit;
}

.leading-normal-all {
    line-height: calc(12.72px + 0.00971*100vh);
}

.leading-bio {
    line-height: calc(12.72px + 0.00971*100vh);
}

.leading-desc {
    line-height: calc(11.35px + 0.01*100vh);
}

.year-margin {
    margin-top: calc(1.3192px + 0.04048*100vh);
}

.navbar-hover-home {
    
}

.navbar-hover-home:hover {
    margin-top: -5px;
}

.navbar-hover-home .home-text {
    opacity: 0;
}

.navbar-hover-home:hover .home-text {
    opacity: 1;
}

.navbar-hover-about {
    
}

.navbar-hover-about:hover {
    margin-top: -5px;
}

.navbar-hover-about .about-text {
    opacity: 0;
}

.navbar-hover-about:hover .about-text {
    opacity: 1;
}